
/* Colors
    black background: 3A3939

*/

body{
    background-color: #3A3939;
    margin:0;
    padding:0;
}

.header-content{
    z-index: 4;
    position:fixed;
    top:0;
    left:0;
    margin:0;
    height:25%;
    width:100%;
}

#logo{
    display:inline-block;
    height:65px;
    width:76px;
}

.logo-container{
    margin:1%;
    display: inline-block;
    width:;
    height:65px;
}
.navbar{
  line-height: 65px;
  position:fixed;
  text-align:center;
  display:inline-block;
  width:250px;
  height:65px;
  left:-125px;
  margin-left:50%;
  margin-top:1%;
}

ul{
    margin: 0;
    display: inline-block;
    padding:0;
    left:-125px;

}

li{
    font-family: sans-serif;
    color:white;
    display: inline-block;
}


----------------------------------------->



.image{
    margin:0;
    top:50px;
    padding:5px;
    width:100%;
    height:100vh;

}

#grill{
    height:100vh;
    width:100%;
    opacity: 0.5;
}

.social-links{
  text-align: center;
  position: fixed;
  bottom:0;
  width:100%;
  height: 25px;

}

p{
  color:white;
  display: inline;
  margin:0;
}
