body{
  background-image: url(images/logotilewallpaper.png);  
    background-attachment: fixed;
}
p{ 
    color: white;
}

#nick{
    margin-left: auto;
    margin-right: auto;
    border-radius:50%;
    position: relative;
    display:block;
    width:210px;
	height:210px;
}

#logo{
    align-self:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height:400px;
}

#bookbtn{
    text-decoration: none;
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    height: 35px;
    width: 35px;
    padding-left:5px; 
    padding-right:5px;
}

#grambtn{
    padding-right: 5px;
    text-decoration: none;
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    height:35px;
    width:35px;
}

#intro{
    font-weight:700;
    display: block;
    position:relative;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: #141414;
    opacity: 0.8;
    width:70%;
    height:50%;
    vertical-align:middle;
    text-align: center;
    color:white;
    font-size: 16px;
}

#emailbtn{
    text-decoration: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    width: 35px;
}
#handgun{
    height: 65px;
    width:105px;
}

#lonestar{
    height:55px;    
    width: 55px;
}

#sponsors{
    color:white;
    height: 300px;
    width: 300px;
    
}

#bottombtns{
    text-decoration: none;
    padding-top:15px;
    padding-right:20px;
    float:right;
    padding-bottom: 10px;
    
}

#scrollable-content {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    overflow: scroll;
    opacity:0.8; 
    width: 70%;
    height: 50%;
    overflow: auto;
    background-color: #141414;
}

#main-logo{
    margin-left: auto;
    margin-right: auto;
}
