
/* Colors
    black background: 3A3939

*/

body{
  background-color: #3A3939;
}

.header-content{
  height:50px;
}

#logo{
  margin-left:15px;
  padding:0;
  width:65px;
  height:55px;
}

.navbar{
  position: relative;
  display: inline-block;
}

/*nav{
  position:relative;
  display: inline-block;
}
*/
nav>ul>li{
  color:white;
  display: inline-block;
}





#grill{
  padding-top:10px;
  margin:0;
  width:100%;
  opacity: 0.50;

}
